* {
    margin: 0%;
    padding: 0%;
}
.Footer_box {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Footer_box i {
    color: white;
    margin-top: 17px;
}

.Footer_box h3 {
    color: white;
    font-size: 13px;
    margin-left: 5px;
    margin-top: 15px;
}
@media (max-width: 768px)
{
    .Footer_box {
        height: 50px;
        background-color: black;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
    }
}