*{
    margin: 0px ;
    padding: 0px;
}
.size_navbar{
    width: 100%;
    box-shadow: 1px 1px 1px black;
}

/* upper navbar */

.upper_navbar{
    display: flex;
    justify-content: space-between;
    grid-template-columns: 25% 20% 23% 32%;
    background-color: rgb(30, 65, 78);
    height: 28px;
    color: white;
    /* text-align: center; */

}
.gmail_icon_and_email{
    display: flex;
    align-items: center;
}
.gmail_icon_and_email img{
    color: white;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    
    /* border: 1px solid white; */

}
.gmail_icon_and_email span{
    margin-left: 15px;
    /* border: 1px solid white; */
    margin-top: 0px;

    /* text-align: center; */
   
}
.call_icon_and_call_support{
    display: flex;
    align-items: center;
}
.call_icon_and_call_support img{
    width: 30px;
    height: 30px;
    
}
.call_icon_and_call_support span{
    margin-left: 15px;
}

.wishlist_upper_nav a{
    text-decoration: none;
    display:flex;
    align-items: center;
}
.Wishlist_checkout_login{
    display: flex;

}
.checkout_upper_nav a{
    text-decoration: none;
    display:flex;
    align-items: center;
}
.wishlist_upper_nav img,.checkout_upper_nav img,.login_upper_nav img{
    width: 30px;
    height: 30px;
}
.login_upper_nav a{
    text-decoration: none;
    display:flex;
    align-items: center;
}
.wishlist_upper_nav span,.checkout_upper_nav span,.login_upper_nav span{
    margin-left: 10px;
    margin-right: 18px;
    color: white;
}


/* lower navbar */

/* mainlogo */
.Lower_navbar{
    /* border: 1px solid black; */
    height: 103px;
    box-sizing: border-box;
    background-color: black;
    display: grid;
    grid-template-columns: 23% 65% 12%;
    
}
.web_logo{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}
.web_logo div{
    width: 100px ;
    height: 100px ;
}
.web_logo div img{
    height: 100%;
    width: 100%;
}

/* pages  */

.all_pages_on_navbar{
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.pages_name_carticon{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-top: 20px;
}
.all_pages_click{
    display: flex;
    font-size: 2rem;
    flex-wrap: wrap;
    justify-content: start;
    
}
.all_pages_click a{
    text-decoration: none;
   color: white;
}
.all_pages_click li{
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    margin-right: 60px;
}
.carticon_on_header{
    margin-left: 140px;
}
.carticon_on_header img{
    width: 40px;
    height: 40px;
}

.search_on_header_category{
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: grid;
    padding: 3px;
    grid-template-columns: 50% 50%;
}

.search_on_header div{
    display: flex;
    justify-content: space-between;
    

    /* border-right:  1px solid black; */  
}
.search_on_header input{
    height: 100%;
    width: 100%;
    border: none;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.498);
}
.searchicon_on_header{
    padding-top: 0px;
    /* height: 80%; */
    background-color: rgba(255, 255, 255, 0.498);
    color: black;
    
}
.search_on_header img{
    display: flex;
    align-items: center;
    background-size: cover;
    margin-right: 20px;
    
}

.category_on_header{
    /* border: 1px solid black; */
    height: 30px;
    border-left:  2px solid white;
    background-color: rgba(255, 255, 255, 0.498);

}
.category_div_header{
    display: flex;
    justify-content: space-between;
}
.category_div_header span{
    display: flex;
    justify-content: flex-start;
    margin-top:5px;
    color: rgba(0, 0, 0, 0.502);
    width: 30px ;
    height: 30px;
}
.category_div_header span a img {
    width: 30px ;
    height: 30px;
}
.Mobile_view_navbar{
    display: none;
}


/* mobile view navbar */
@media(max-width:768px){
    .size_navbar{
        display: none;
        flex-wrap: wrap;
    }
    .Mobile_view_navbar{
        display: block;
        box-sizing: border-box;
        /* justify-content: flex-start; */
        background-color: black;
    }
    .upper_navbar_mobile_view{
        display: flex;
        justify-content: space-between;
        grid-template-columns: 25% 35% 40%;
        padding:15px;

    }
    .weblogo_menu_button_mobile_view{
        display: flex;
       
    }
    .menu_button_mobile_view{
        width: 40px ;
        height: 50px ;
    }
    .weblogo_button_mobile_view{
        width: 60px ;
        height: 50px ;
        margin-left: 15px;
        
    }

    .login_cart_icon_mobile_view{
        display: flex;
    }
    .login_cart_icon_mobile_view a{
        display: flex;
        text-decoration: none;
        color: white;
        margin-right: 10px;
        /* justify-content: center;  */
        align-items: center;
    }
    .user_img_icon_mobile_view{
        /* border: 1px solid black; */
        width: 50px ;
        height: 50px ;
    }
    .cart_img_icon_mobile_view{
        /* border: 1px solid black; */
        width: 40px ;
        height: 40px ;
    }

    .input_search_box_searchicon{
        display: grid;
        grid-template-columns:90% 10%;
        padding:0px 15px;

    }
    .input_search_box5{
        /* padding:0 15px; */
        width: 100%;
        margin-bottom: 5px;
    }
    .input_search_box5 input{
        /* padding: 9px 220px 9px 10px; */
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 10px;
    }
    .searchicon_box5{
        width: 35px ;
        height: 35px ;
    }
}